
<h1 align="center">Bienvenue dans la communauté des sales timbanques</h1>

<h3 align="center" style="margin: auto; width: 1134px;">
  Embrasser ses amis. Serrer des mains, c’est bon pour se présenter. Les bons amis s’embrassent, poitrine contre poitrine, une ou deux mains dans le dos. Ca dure une seconde. Ca ne fait pas de vous un homosexuel en lutte.
  Apprendre à rire de soi-même. On s’est tous surpris à se prendre trop au sérieux. Les hommes bons savent bien recevoir une moquerie.
  Avoir des amies et ne pas coucher avec elles. La variété des amitiés est le sel de la vie. Avoir de nombreux amis, des deux genres, offre une vie pleine de variété.
  Se préparer à faillir. Se tromper, ce n’est pas la fin du monde. Ca prépare à essayer plus fort la prochaine fois. On peut aussi utiliser ses erreurs pour penser à pardonner à d’autres.
  Etre actif et intéressé à la politique. Chaque vote est important. Et l’actualité politique est plus supportable si on s’y intéresse un peu.
  Faire ce qui nous rend heureux. Ce boulot merdique qui paie bien nous procure-t-il vraiment du bien-être. Ne serait-ce pas le temps d’en changer et de voir ce que le changement peut apporter ?
  Penser au choix de nos mots. Il est temps de renoncer à nègre, niak, mongol, pédé et gonzesse. Il y a plein d’autres mots pour dire ce qu’on veut dire. Ceux-là ne nous grandissent pas.
  Renoncer au harcèlement. Se moquer des plus forts, c’est agréable. Se moquer des plus faibles, c’est mal. Le faire à répétition, c’est du harcèlement. Même si ça nous fait rire, si on trouve que le mot est bon et que ça nous valorise de faire rire les autres avec une bonne vanne, renonçons à faire à d’autres ce qu’on ne voudrait pas qu’on nous fasse.
  Etre féministe. Vivre dans un meilleur monde. Les féministes ne détestent pas les hommes. Partager l’idée que nous sommes tous égaux.
  Etre courtois en voiture. On nous voit. Cet être qui hurle sur un autre conducteur, qui secoue la tête comme un dément, qui insulte, c’est toujours nous. Pardonner les erreurs, chercher le compromis, laisser vivre les autres, sur la route aussi.
  Retrouver le respect sexuel. Laisser croire qu’on est exclusif avec quelqu’un en la trompant avec d’autres, c’est malhonnête. Il faut changer une des deux attitudes.
  Pleurer. Journée pourrie, lâchez une larme. Excès de pression, multiples ennuis qui s’empilent, vous n’êtes pas seul. Supporter nos émotions ne fait pas de nous des femmes, mais des humains. Nous devrions saluer les larmes des hommes, saines et gratuites.
  Parler d’homophobie. Il n’y a rien de mal a être gay, lesbienne, transgenre ou bisexuel. Et ce n’est pas contagieux. Embrassons nos amis pour ce qu’il-elle-s sont et pour ceux-celles qu’il-elle-s aiment.
  Reculer comme un héros. A cause de l’alcool et/ou de la colère, vous sentez votre agressivité arriver ? Reculer et allez-vous en. Une seconde de trop et un coup donné peuvent ruiner plusieurs vies.
  Ne rien exclure. Sortir de ces certitudes. Ca ne fait pas de nous une personne de caractère, mais bornée, rigide et amère. Sortir de notre vocabulaire les prises de positions extrêmes, arrêter de trouver tout scandaleux ou fantastique et ne jamais dire jamais. Homme bon, la nuance et le doute sont tes amis.
</h3>
